<div class="banner smartcast-banner">
  <h1>Discover your favourite Podcast</h1>
</div>



<div id="search-container"class="cf">
  <%= form_tag(podcasts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div name="search-text">
    <%= text_field_tag :search, params[:search], class: "border-animation"%>
    <input type="submit" value="Search" class="button button-highlight"/></div>
    <% end %>
</div> 




<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul class="cf">
    	
<% if @search.to_s.empty? %>
<% for pod in @podcasts %>
	      <%= link_to(pod) do %>
	        <li>
	          <%= image_tag pod.image.url, alt: "Podcast image" %>
	          <div class="podcast-overview">
	            <h2><%= pod.name %></h2>
	            <p class="episode-count"><%= pod.episodes.count %> episodes</p>
	          </div>
	        </li>
	      <% end %>
      
<% end %>



<% else %>
<% for pod in @podcasts %>
<% if pod.name.include? @search %>

<%= link_to(pod) do %>
	        <li>
	          <%= image_tag pod.image.url, alt: "Podcast image" %>
	          <div class="podcast-overview">
	            <h2><%= pod.name %></h2>
	            <p class="episode-count"><%= pod.episodes.count %> episodes</p>
	          </div>
	        </li>
<% end %>

<% end %>

<% end %>

<% end %>



    </ul>
  </div>
</div>

<div class="pagination">
  <%= will_paginate @podcasts %>
</div>



























