<div class="banner create-podcast-banner">
  <h1>Create your Podcast</h1>
</div>


<%= form_for(@podcast, html: { :multipart => true, id: "input-container", class: "cf wrapper"}) do |f| %>
  <div id="image-upload">
    <%= f.file_field :image, :required => true %>
    <!--<label for="image" class="inputfile-label">Choose a file</label>-->
  </div>
  <div id="title">
  	<%= f.text_field :name,:required => true , placeholder: "Insert Podcast title", class: "border-animation" %>
  </div>

  <div id="description" >
    <%= f.text_area :description, :required => true , placeholder: "Insert Podcast description", class: "border-animation"%>
  </div>

  <div class="btn-bar">
    
    <div class="right">
      <%= f.submit "Create my podcast",class: "button button-highlight" %>
      
    </div>
  </div>
<% end %>
