<!DOCTYPE html>
<html>
	<head>
	  <title>SmartCast</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Comfortaa' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' %>
	  <%= mp3_player_headers without_swfobject: true %>
	</head>
	<body>

		<!--<div class="container-fixed">-->
			<% if alert %>
				<div id="notice_wrapper">
					<p class="alert"><%= alert %></p>
				</div>
			<% elsif notice %>
				<div id="notice_wrapper">
					<p class="notice"><%= notice %></p>
				</div>
			<% end %>

			<%= render 'layouts/header' %>

			<%= yield %>

			<script>
				$(document).ready(function(){
					setTimeout(function() {
						$('#notice_wrapper').fadeOut("slow", function() {
							$this.remove();
						});

						// devise errors div block
						$('#error_explanation').fadeOut("slow", function() {
							$this.remove();
						});
					}, 4500 );
				});

			</script>
		<!--</div>-->

	</body>
</html>
